body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
}

.article {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
}
